input {
  height: 30px;
  line-height: 30px;
  width: 100%;
  text-indent: 10px;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.listArea {
  margin: 0 auto;
}
.list li {
  padding-top: 10px;
  border-bottom: 1px solid #ddd;
}
.list li span {
  display: block;
}
.list li span.name {
  float: left;
}
.list li span.phone {
  float: right;
}
.list span.clearfix {
  clear: both;
}
